extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/${drone.photo || 'drone.png'}`)

    .single__details.inner
        img.single__map(src=h.staticMap(drone.location.coordinates))
        p.single__location= drone.location.address
    
        .single__drones
            .single__drone
                .single__drone__hero
                    != h.icon('add')
                    h4 #{drone.eth} ETH
                    p Delivery Charge
            .single__drone
                .single__drone__hero
                    != h.icon('add')
                    h4 #{drone.capacity} lbs
                    p Capacity
            .single__drone
                .single__drone__hero
                    != h.icon('add')
                    h4 #{drone.capacity} Hrs
                    p Flight time
            .single__drone
                .single__drone__hero
                    != h.icon('add')
                    h4 Built-In
                    p GPS
            .single__drone
                .single__drone__hero
                    != h.icon('add')
                    h4 16MP
                    p Camera
            .single__drone
                .single__drone__hero
                    != h.icon('add')
                    h4 Yes
                    p LiveStream

        input(type="button", value="Confirm Pay" class="submitButton" id="confirmPayment")
