mixin droneForm(drone = {})
    //- enctype="multipart/form-data"
    form(action=`/add-drone/${drone._id || ''}`, method="post" class="card" )
        label(for="accountId") AccountId
        input(type="text" name="accountId"  value=drone.accountId)
        label(for="name") Name
        input(type="text" name="name" value=drone.name) 
        label(for="capacity") Capacity
        input(type="text" name="capacity" value=drone.capacity)
        label(for="eth") ETH
        input(type="text" name="eth" value=drone.eth) 
        //- address, long, lat
        label(for='address') address
        input(type="text" id="address" name="location[address]" value=(drone.location && drone.location.address))
        label(for='lng') Address Longitude
        input(type="text" id="lng" name="location[coordinates][0]"  value=(drone.location && drone.location.coordinates[0])) 
        label(for='lat') Address Lattitude
        input(type="text" id="lat" name="location[coordinates][1]" value=(drone.location && drone.location.coordinates[1])) 
        //- image upload
        label(for="photo") Photo
        input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
        if drone.photo
            img(src=`/uploads/${drone.photo}`, alt=drone.name width=200)
        input(type="submit", value="ADD DRONE" class="submitButton")